@using TaskManager.ViewModels
@model TaskViewModel

@{
    ViewData["Title"] = "All Tasks";
}

<form class="form-inline" method="get" asp-action="List">
    <div class="row w-100 mx-0 mb-2">
        <div class="col-10 px-0">
            <input type="text" class="form-control w-100" id="searchString" name="searchString" placeholder="Search by Title" value="@Model.CurrentFilter">


        </div>
        <div class="col-2 px-0">
            <button type="submit" class="btn btn-primary w-100">Search</button>
        </div>
    </div>
</form>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks.First().CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks.First().UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks.First().DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks.First().IsCompleted)
            </th>
            <th>
                Категорії
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllTasks.First().Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllTasks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>

                <td>
                    @if (item.Categories != null && item.Categories.Any())
                    {
                        @for (int i = 0; i < item.Categories.Count; i++)
                        {
                            @item.Categories[i].CategoryName
                            if (i < item.Categories.Count - 1)
                            {
                                @:<br />
                            }
                        }
                    }
                </td>


            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                    @Html.ActionLink("Details", "Details", new { item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
